/* --deep-twilight: #03045eff;
--bright-teal-blue: #0077b6ff;
--turquoise-surf: #00b4d8ff;
--frosted-blue: #90e0efff;
--light-cyan: #caf0f8ff; */

body {
  background-color: #caf0f8ff;
}

section {
  padding: 2rem;
}
