/* --deep-twilight: #03045eff;
--bright-teal-blue: #0077b6ff;
--turquoise-surf: #00b4d8ff;
--frosted-blue: #90e0efff;
--light-cyan: #caf0f8ff; */

body {
  background-color: #caf0f8ff;
  color: #03045eff;
}

header {
  background-color: #03045eff;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #caf0f8ff;
  text-decoration: none;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

footer {
  background-color: #03045eff;
  color: #caf0f8ff;
  text-align: center;
}

.project {
  background-color: white;
  padding: 15px;
  border-left: 6px solid #00b4d8ff;
  border-radius: 12px;
  margin-top: 20px;
}

.screenshot_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.screenshot {
  width: 100%;
}
